@import "../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html{
  background-color: white;
}
.header h1{
  margin-bottom: 90px;
} 
.footer{
  background-color: #888
}
.bg-item{
  background-size: cover;
  background-position: center center;
  height: 200px;
}
.link-color a{
  color: #faf7e3;
}
#items_content > div {
  transition: opacity 1.5s;
}
.slide_height{
  height: 400px;
}
.headerTitle{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bg-black{
  background: rgba(0, 0, 0, .4);
  padding: .3rem;
  border-radius: 5px;
}
.pt-8{
  padding-top: 8rem;
}
.card_describe_visible{
  max-height: 600px;
  transition: max-height 1s;
  overflow: hidden;
}
.card_describe_hidden{
  max-height: 0px;
  transition: max-height 1s;
  overflow: hidden;
}